<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="bg-container">
        <div class="center-container">
            <div id="introduction-text">
                <p><strong>Nuevo movimiento</strong></p>                
            </div>
            <div id="enroll-form" class="flex-column-gap">
                <form action="" class="flex-column-gap">
                    <div id="username-input" class="flex-column"> 
                        <label for="type-order">Tipo</label>
                        <!--<i class="uil uil-user"></i>-->
                        <input type="text" name="type-order" id="type-order" class="input-data" placeholder="Selecciona un tipo de registro">
                            <!--
                                
                                todo change icons!
                            
                            -->
                        <label for="descripcion-order">Descripcion</label>
                        <!--<i class="uil uil-user"></i>-->
                        <input type="text" name="descripcion-order" id="descripcion-order" class="input-data" placeholder="Ej. Compra de pizza">

                        <label for="amount-order">Cantidad</label>
                        <!--<i class="uil uil-user"></i>-->
                        <input type="number" name="amount-order" id="amount-order" class="input-data" placeholder="Ej. 100,200,300">
                    </div>

                </form>
            </div>      
        </div>
    </div>
    
</body>
</html>